/* Customer homepage */

@media (min-width: 1050px) {

main.customer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.search_container {
    margin: 1rem;
}

form.search > div > input[type=text] {
    width: 100%; /* Gør, at input fylder hele div'en */
    padding: 0.9rem 0.8rem;
    border-radius: 30px;
    border: 1px solid #ccc;

}

form.search {
    display: flex;
    flex-direction: row;
    align-items: center; /* Sørger for, at elementerne justeres lodret */
    gap: 0.5rem;

    > div {
        display: flex;
        flex-grow: 8; /* Fylder 3/4 */
        flex-basis: 87.5%;
    }

    > button {
        flex-grow: 1; /* Fylder 1/4 */
        flex-basis: 12.5%;
        border-radius: 20px;
        border: 1px solid #ccc;
        padding: 0.9rem;
    }

    > button:hover {
        cursor: pointer;
    }
}

label.query {
        display: none;
}

section.item_list {
    margin: 1.5rem;

    > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0;

    }

    div:has(button).more {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}

ul.item_list > li {
    list-style-type: none;
    flex: 1 1 calc(33.33% - 1rem); /* Ensure three items per row */
    box-sizing: border-box; /* Include padding and borders in size calculation */


    > div {
    border-radius: 8px;
    background-color: var(--primary-col);
    padding: 2rem 2rem;
}

}

a.card {
    color: var(--secondary-col);
}

}

/* Customer singleview */

.customer_single {
    display: grid;
    grid-template-columns: 1fr;

    > ul {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}

.customer_single > ul > li {
    border-radius: 10px;
    padding: 5rem 7rem;
    list-style-type: none;
    background-color: var(--tertiary-col);
    display: grid;
}

.buy {
    color: var(--secondary-col);
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: var(--cta-border-radius);
    padding: 0.25rem;
}

@media (min-width: 1050px) {
    .buy {
        font-size: var(--font-body-rem-desk-mid);
    }
}