@import '_variables.css';
@import 'profile.css';
@import 'index.css';
@import 'customer.css';
@import 'admin.css';


* {
    margin: 0;
}

h1, h2, .logo, .cta, .delete, .blocker {
    font-family: var(--font-header);
}

h1 {
    margin-left: 2rem;
}

.logo {
    color: var(--secondary-col);
}

p, input, label, a, tr {
    font-family: var(--font-body);
    color: var(--cta-col);
    text-decoration: none;
}

.cta, button.delete, .blocker {
    color: var(--secondary-col);
    border: none;
    cursor: pointer;
    border-radius: var(--cta-border-radius);
    padding: 0.75rem;
}

.cta {
    background-color: var(--cta-col);
}

.blocker {
    background-color: var(--primary-col);
}

button.delete {
    background-color: var(--primary-col);
}

header {
    background-color: var(--primary-col);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > nav.top_nav > button {
        text-align: end;

    }
}

input {
    border: 1px solid var(--tertiary-col);
    border-radius: var(--cta-border-radius);
    background-color: var(--tertiary-col);
}

input:focus {
    outline: none;
    box-shadow: 0rem 0rem 0.05rem 0.05rem var(--cta-col);

}

/* Map styling: takes 50% of the width */
#map {
    height: 100vh; 
    width: 100%;
}

/* Styles form used for profile (for all) */
form.profile {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    > div  {
        display: flex;
        flex-direction: column;
    }

    > div > input {
        padding: 0.5rem;
    }

    > button[type=submit] {
        margin: 2rem 4rem;
    }
}

main.login, main.signup, main.index {
    background-color: var(--primary-col);
    height: 100vh;
}

main.login, main.signup {
    margin: 0;
    padding: 0;
}

main.login, main.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1050px) {

    h1, h2, .logo {
        font-weight: var(--font-weight-header-large);
        font-family: var(--font-header);
    }

    .logo {
        font-size: var(--font-logo-rem-desk);
    }

    h1 {
        font-size: var(--font-h1-rem-desk);
    }

    h2 {
        font-size: var(--font-h1-rem-desk);
    }

    .cta, .delete {
        font-size: var(--font-cta-rem-desk);
        font-weight: var(--font-weight-header-mid);
    }

    .blocker{
        
    }


}