@media (min-width: 1050px) {

main.index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 6 lige store kolonner */
    grid-template-rows: auto auto auto; /* 3 rækker */
    grid-template-areas: 
        "header_logo header header . . ."    /* Række 1: h1 fylder to kolonner, logo fylder 1 */
        ". . btn btn . ."          /* Række 2: btn fylder kolonne 3-4 */
        ". . . img hub .";       /* Række 3: logo + p fylder kolonne 4-5 */
    gap: 3rem; /* Giver mellemrum mellem grid-items */
    padding: 1rem;
    align-content: space-evenly;
}

/* Placer elementerne i deres grid-områder */
h1.header {
    grid-area: header;
    color: var(--secondary-col);
    font-size: var(--font-logo-rem-desk);

}

.header_logo {
    grid-area: header_logo;
    text-align: end;
}

.btn {
    grid-area: btn;
    display: flex; /* Bevarer flex-opførsel inde i section.btn */
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: space-around;
}

.img {
    grid-area: img;
    text-align: end;
}

.hub {
    grid-area: hub;
    text-align: start;
}

.btn {
    font-size: var(--font-cta-rem-desk);
    font-weight: var(--font-weight-header-mid);
}

p.large {
    font-size: var(--font-h1-rem-desk);
    font-family: var(--font-header);
    color: var(--secondary-col);
    font-weight: var(--font-weight-header-large);

}

img {
    width: 4rem;
    height: 4rem;
}

}