<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="../static/css/general.css">
    <script src="../static/tab.js" defer></script>
    <title>Hunger Hub</title>
</head>
<body>
    <div id="toast"></div>
    <form method="POST" action="{{url_for('logout')}}">
        <header>
            <h1 class="logo">
                <!-- user["roles"][0] retrieves the first element from the list.
                The if user["roles"] else url_for('view_index') check ensures that if the roles
                list is empty, the user is redirected to the homepage (view_index).-->
                <a class="logo" href="{{ url_for('view_' + user['roles'][0]) if user['roles'] else url_for('view_index') }}">HungerHub</a>
            </h1>
            
            <nav class="top_nav">
                <a class="cta" href="{{url_for('view_profile')}}">Profile</a>
                <button class="cta">Logout</button>
            </nav>
        </header>
    </form>