<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="/static/css/general.css">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{{url_for('logout')}}">
        <header>
            <h1 class="logo">
                <a href="
                {% if user_role == 'admin' %}
                    {{ url_for('view_admin') }}
                {% elif user_role == 'customer' %}
                    {{ url_for('view_customer') }}
                {% elif user_role == 'partner' %}
                    {{ url_for('view_partner') }}
                {% else %}
                    {{ url_for('view_index') }} 
                {% endif %}
                ">HungerHub</a>
            </h1>
            <nav class="top_nav">
                <a class="cta" href="{{url_for('view_profile')}}">Profile</a>
                <button class="cta">Logout</button>
            </nav>
        </header>
    </form>