<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/general.css">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{{url_for('logout')}}">
        <header>
            <h1 class="logo">HungerHub</h1>
        <nav class="top_nav">
<!-- skal have en if end ind, der kun displayer denne, hvis role != partner -->
            <a href="/profile">Profile</a>

        <button class="cta">
            Logout
        </button>
    </nav>
</header>
    </form>