{% include "_top_logged.html" %}

            <main>
                <section class="form_container">
                    <h2>Edit item</h2>
                    <form id="frm_edit_item" class="restaurant_item_form">
                        <div>
                            <label for="item_title">Item title</label>
                            <input type="text" id="item_title" name="item_title" value="{{item['item_title']}}">
                        </div>

                        <div>
                            <label for="item_description">Description</label>
                            <input id="item_description" name="item_description" value="{{item['item_description']}}"></input>
                        </div>

                        <div>
                            <label for="item_price">Price</label>
                            <input type="text" id="item_price" name="item_price" value="{{item['item_price']}}">
                        </div>

                        <div class="image_input">
                            <label for="item_images">Upload images</label>
                            <input type="file" id="item_images" name="item_images" multiple accept="image/*">
                        </div>

                        <button class="cta center" mix-put="/items" mix-data="#frm_edit_item">Submit</button>
                    </form>
                </section>
            </main>
            
{% include "_bottom.html" %}