{% include "_top_logged.html" %}

        <main>
            <section class="customer_single">
                <h1>Restaurant name</h1>
                <ul>
                    <li>
                        <p>Item name</p>
                        <p>Item price</p>
                        <button class="buy">Buy</button>
                    </li>

                    <li>Static item 2</li>
                    <li>Static item 3</li>
                    <li>Static item 4</li>
                    <li>Static item 5</li>
                </ul>
            </section>
        </main>

{% include "_bottom.html" %}