{% include "_top_logged.html" %}
<main>
    <h1>Hi {{user['user_name']}}</h1>

    <section class="tab_container">
        <div class="tabs">
            <button class="tab active cta" onclick="showTab('users')">Users</button>
            <button class="tab cta" onclick="showTab('items')">Items</button>
        </div>

        <div id="users" class="tab_content active">
            <div class="tab_header">
                <h2>Users</h2>
            </div>
            <!-- Check if users are available -->
            {% if users %}
            <table class="admin_list">
                <thead class="admin_list_head">
                    <tr>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Block/unblock</th>
                    </tr>
                </thead>
                <tbody class="admin_list_body">
                    {% for user in users %}
                        <tr class="info">
                            <td>{{ user.user_name }}</td>
                            <td>{{ user.user_last_name }}</td>
                            <td>{{ user.user_email }}</td>
                            <td>
                            {% if user["user_blocked_at"] == 0 %}
                                <!-- Block Button -->
                                <button class="blocker" id="block-{{ user['user_pk'] }}" mix-get="/users/block/{{ user['user_pk'] }}" mix-method="put" mix-target="#block-{{ user['user_pk'] }}" mix-replace>
                                    Block
                                </button>
                            {% else %}
                                <!-- Unblock Button -->
                                <button id="unblock-{{ user['user_pk'] }}" mix-get="/users/unblock/{{ user['user_pk'] }}" mix-method="put" mix-target="#unblock-{{ user['user_pk'] }}" mix-replace>
                                    Unblock
                                </button>
                            {% endif %}                            
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No users are available at the moment.</p>
            {% endif %}
        </div>

        <div id="items" class="tab_content">
            <div class="tab_header">
                <h2>Items</h2>
            </div>

            <table class="admin_list">
                <thead class="admin_list_head">
                    <tr>
                        <th>Restaurant</th>
                        <th>Dish</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody class="admin_list_body">
                    {% for item in items %}
                        <tr>
                            <td>{{ item["restaurant_name"] }}</td>
                            <td>{{ item["item_title"] }}</td>
                            <td>{{ item["item_price"] }} Dkk</td>
                            <td><button class="blocker center">Block</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
</body>
</html>

{% include "_bottom.html" %}
