{% include "_top_logged.html" %}
        <main>
            <section>
                <h1>Profile</h1>

        <!-- form, hvor placeholders indeholder/viser nuværende info -->
                <form id="frm_profile_update" class="profile">
                    <div>
                        <label for="user_name">First name</label>
                        <input type="text" name="user_name" id="user_name" placeholder="{{user['user_name']}}" >
                    </div>

                    <div>
                        <label for="user_last_name">Last name</label>
                        <input type="text" name="user_last_name" id="user_last_name" placeholder="{{user['user_last_name']}}" >
                    </div>

                    <div>
                        <label for="user_email">E-mail</label>
                        <input type="email" name="user_email" id="user_email" placeholder="{{user['user_email']}}" >
                    </div>

                    <div>
                        <label for="user_password">Password</label>
                        <input type="password" name="user_password" id="user_password" placeholder="**********" >
                    </div>

                <!-- skal have disse knapper til at virke med korrekte routes -->
                    <button mix-put="/users" mix-data="#frm_profile_update" class="cta">Update profile</button>
                    <button class="delete" title="Delete User" mix-get="/users/delete/{{user['user_pk']}}">Delete profile</button>
                </form>
            </section>
        </main>
    </body>
</html>