
{% include "_top_logged.html" %}
{% include "_top.html" %}
        <main class="customer">
            <!-- Left side: Map -->
            <section id="map"></section>
            
            <!-- Right side: items-content -->
            <section id="items-content">
                <div class="search_container">
                    <form class="search" action="/search" method="get">
                        <div>
                            <label class="query" for="query"></label>
                            <input type="text" name="query" id="query" placeholder="Search">
                        </div>
                        <!-- midlertidig emoji -- skifter ud med billede senere -->
                        <button type="submit">🔍</button>
                    </form>
                </div>

                <section class="item_list">
                    <ul class="item_list">
                        <!-- Loop through restaurants -->
                        {% for restaurant in restaurants %}
                        <li>
                            <div>
                                <a class="card" href="{{ url_for('view_customer_single', user_pk=restaurant.user_pk) }}">
                                    {{ restaurant.restaurant_name }}
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="more">
                        <button class="cta center">More</button>
                    </div>
                </section>
            </section>
        </main>

{% include "_bottom_customer.html" %}