{% include "_top.html" %}

<main class="index">

    <div class="header_logo">
    <img src="{{ url_for('static', filename='assets/pacman.png') }}" alt="HungerHub logo">
    </div>

    <h1 class="header">HungerHub</h1>

    <section class="btn">
        <a class="cta" href="{{url_for('view_login')}}">Sign in</a>
        <a class="cta" href="{{url_for('view_signup')}}">Sign up</a>
    </section>

    <div class="img">
            <img src="{{ url_for('static', filename='assets/pacman.png') }}" alt="HungerHub logo">
    </div>

    <section class="hub">
    <p class="large">Hub</p>
    </section>

</main>


{% include "_bottom.html" %}
