
{% include "_top.html" %}

<main class="signup">
    <div class="container">
        <div class="logo">Hungerhub</div>
        <div class="signin_box">
            <h1>Sign up</h1>
            <form id="frm_user_signup">
                <label for="user_name">Name</label>
                <input name="user_name" type="text" mix-check="{{ x.USER_NAME_REGEX }}">

                <label for="user_last_name">Lastname</label>
                <input name="user_last_name" type="text" mix-check="{{ x.USER_LAST_NAME_REGEX }}">

                <label for="user_email">Email</label>
                <input name="user_email" type="email" mix-check="{{ x.REGEX_EMAIL }}">
                
                <label for="user_password">Password</label>
                <input name="user_password" type="password" mix-check="{{ x.REGEX_USER_PASSWORD }}">

                <button class="cta" mix-post="/users" mix-data="#frm_user_signup">Signup</button>
            </form>

            <p>Already have an account?</p>
            <p><a href="{{url_for('view_login')}}">Login here</a></p>
        </div>
    </div>
</main>

{% include "_bottom.html" %}
