{% include "_top_logged.html" %}

            <main>
                <section class="form_container">
                    <div>
                        <h2>Add item</h2>

                        <form class="restaurant_item_form" id="frm_item_add">
                            <div>
                                <label for="item_title">Item name</label>
                                <input type="text" name="item_title" mix-check="{{ x.ITEM_TITLE_REGEX }}" >
                            </div>

                            <div>
                                <label for="item_description">Description</label>
                                <textarea  name="item_description" mix-check="{{ x.ITEM_DESCRIPTION_REGEX }}"></textarea>
                            </div>

                            <div>
                                <label for="item_price">Price</label>
                                <input type="number" name="item_price" step="0.01" min="{{ x.ITEM_PRICE_MIN }}" max="{{ x.ITEM_PRICE_MAX }}" mix-check="{{ x.ITEM_PRICE_REGEX }}">
                            </div>

                            <div class="image_input">
                                <label for="item_image">Upload image</label>
                                <input type="file" name="item_image" accept=".png, .jpg, .jpeg, .gif">
                            </div>

                            <button class="cta" mix-post="/items" mix-data="#frm_item_add">Add item</button>
                        </form>
                    </div>
                </section>
            </main>
{% include "_bottom.html" %}