
{% include "_top_logged.html" %}
{% include "_top.html" %}
        <main class="customer">
            <!-- Left side: Map -->
            <section id="map"></section>
            
            <!-- Right side: items-content -->
            <section id="items-content">
                <div class="search_container">
                    <form class="search" action="/search" method="get">
                        <div>
                            <label class="query" for="query"></label>
                            <input type="text" name="query" id="query" placeholder="Search">
                        </div>
                        <!-- midlertidig emoji -- skifter ud med billede senere -->
                        <button type="submit">🔍</button>
                    </form>
                </div>







                <section class="item_list">
                <!-- indsæt for item in items så den displayer li pr item-->
                    <ul class="item_list">

                        {% for item in items %}
                        <li>
                            <p>{{ item["restaurant_name"] }}</p>
                            <p>{{ item["item_title"] }}</p>
                            <p>{{ item["item_price"] }} Dkk</p>
                        </li>
                    {% endfor %}
                    </ul>
                    <div>
                        <button class="cta center">More</button>
                    </div>
                </section>
            </section>
        </main>
    </body>
</html>

{% include "_bottom_customer.html" %}